<h1>About</h1>

<p>UK Postcodes is a webservice for postcodes in Great Britain and Northern Ireland. As well as geographical information, it also returns information about council areas and constituencies.</p>

<h2>Usage</h2>

<p>Currently, there are no limitations on usage, but I may introduce rate limiting in future.</p>
  
<h2>Licensing</h2>
  
Great Britain postcode data may be used under the terms of the <a href="http://www.ordnancesurvey.co.uk/business-and-government/licensing/using-creating-data-with-os-products/os-opendata.html">OS OpenData licence</a>. Northern Ireland postcode data may be used under the terms of the <a href="http://www.ons.gov.uk/ons/guide-method/geography/products/postcode-directories/-nspp-/onspd-open-licence.doc">ONSPD licence</a>

<h2>Support</h2>

<p>If you have any questions, you can contact me <a href="http://twitter.com/pezholio">via Twitter</a>, or <a href="https://github.com/theodi/uk-postcodes">log an issue on Github</a></p>

<h2>Self hosting</h2>

<p>If you want to host your own version of UK Postcodes, then you can <a href="https://github.com/theodi/uk-postcodes">clone the source on Github</a>. There's a rake task that downloads the necessary data and sets everything up. See the README for more information.</p>
